body {
  font-family: helvetica;
  margin: 0;
  border: 0;
}

.main {
  display: flex;
  flex-direction: row;
}

.side-nav {
  background-color: #DCDCDC;
  color: black;
  padding: 15px 10px 15px 40px;
  min-width: 300px;
  height: 100vh;
}

.side-nav h1 {
  color: #0080ff;
}

.side-nav li {
  list-style-type: circle;
  cursor: pointer;
  padding: 8px 1px 8px 1px;
}

.appointments {
  min-width: 600px;
  padding-left: 2%;
  padding-top: 20px;
}

.selected {
  color: #0080ff;
  font-weight: bold;
  list-style-type: disc !important;
}

#logout {
  position: absolute;
  bottom: 8%;
}

.logout-btn {
  background-color: #0080ff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 8px 8px 8px 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #0080ff;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}
